[Desktop Entry]
Version=1.0
Type=Application
Name=glmark2
Exec=glmark2
Icon=a7xpg
Terminal=false
Categories=System;
Comment=
Path=
StartupNotify=true
